*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.savedProfiles{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.user.show{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.usernameContainer{
    display: flex;
}
#inSearchLabel{
    margin-right: 5px;
}
.containerSavedProf{
    position: absolute;
    width: 300px;
}
.info{
    display: flex;
    flex-direction: row;
}
.infoImg{
    border: 0px;
    border-radius: 5%;
}